*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
.header1{
    display: flex;
    background-color: black;
    justify-content: center;
    color: white;
    font-size: 12px;
    
    font-weight: bolder;
    line-height: 20px;
}
.valign{
    vertical-align: middle;
}
/* .header2{
    display: inline block;
    margin-left: auto;
    font-size: 12px;
} */
.header2nav ul li{
    display: inline-block;
    /* margin-left: auto; */

    font-size: 12px;
}
.header3 img{
    width: 100px;
    height: 50px;
}
